body{ /*Changes background color to blue and text color to grey*/
    background-color: rgb(12,35,64);
    color: rgb(158,162,162); 
}
.navbar ul{ /*Createss navbar with links to other pages*/
    list-style-type: none;
    background-color: rgb(35,97,146);
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 98.5%;
}
.navbar a{ /*Changes color of text to grey*/
    color: rgb(158,162,162);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{ /*Changes background color and text color when hovered over*/
    background-color: rgb(158,162,162);
    color: rgb(35,97,146);
}
.navbar li{ /*Changes alignment to left*/
    float: left;
}
#header{ /*Centers text*/
    text-align: center;
}
#involvement{ /*Changes font size to 20px*/
    font-size: 20px;
}
#list{ /*Changes font size to 20px*/
    font-size: 20px;
}
#fastbreak{ /*Changes font size to 20px and aligns center*/
    font-size: 20px;
    text-align: center;
}
#link{ /*Changes font color to grey*/
    color: rgb(158,162,162)
}
#previouspage{ /*Adds previous page button*/
    background: rgb(158,162,162);
    border: 1px solid rgb(158,162,162);
    border-radius: 3px;
    color: rgb(12,35,64);
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}
#previouspage:hover{ /*Changes background color and text color when hovered over*/
    background: rgb(12,35,64);
    border: 1px solid rgb(158,162,162);
    color: rgb(158,162,162);
}
#nextpage{ /*Adds next page button*/
    background: rgb(158,162,162);
    border: 1px solid rgb(158,162,162);
    border-radius: 3px;
    color: rgb(12,35,64);
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}
#nextpage:hover{ /*Changes background color and text color when hovered over*/
    background: rgb(12,35,64);
    border: 1px solid rgb(158,162,162);
    color: rgb(158,162,162);
}
