body { /*This changes background color to blue and text color to grey*/
    background-color: rgb(35,97,146);
    color: rgb(158,162,162);
}
.navbar ul{ /*This makes navbar at top of page*/
    list-style-type: none;
    background-color: rgb(12,35,64);
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 98.5%;
}
.navbar a{ /*Changes color of font of links in navbar*/
    color: rgb(158,162,162);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{ /*Changes background color and text color when hovering over link*/
    background-color: rgb(158,162,162);
    color: rgb(12,35,64);
}
.navbar li{ /*Changes alignment of links to the left*/
    float: left;
}
#fan{ /*Centers text*/
    text-align: center;
}
#bad-franchise{ /*Changes link color to grey*/
    color: rgb(158,162,162)
}
#badfranchise{ /*Changes font size to 20px*/
    font-size: 20px;
}
#jerseys{ /*Changes font size to 20px*/
    font-size: 20px;
}
#statement{ 
    float: center;
}
#Statement{ /*Changes font and font size to 60px, and aligns left*/
    font-size: 60px;
    font-family: Georgia, Arial;
    float: right;
}
#icon{
    float: center;
}
#Icon{ /*Changes font and font size to 60px, and aligns left*/
    font-size: 60px;
    font-family: Georgia, Arial;
    float: right;
}
#alternate{
    float: center;
}
#Alternate{ /*Changes font and font size to 60px, and aligns left*/
    font-size: 60px;
    font-family: Georgia, Arial;
    float: right;
}
#city{
    float: center;
}
#City{ /*Changes font and font size to 60px, and aligns left*/
    font-size: 60px;
    font-family: Georgia, Arial;
    float: right;
}
#classic{
    float: center;
}
#Classic{ /*Changes font and font size to 60px, and aligns left*/
    font-size: 60px;
    font-family: Georgia, Arial;
    float: right;
}
#roster{ /*Changes font size to 20px*/
    font-size: 20px;
}
#imagelink{ /*Changes font size to 20px*/
    font-size: 20px;
}
#mascot{ /*Bolds font and aligns center*/
    font-weight: bold;
    text-align: center;
}
#crunch{ /*Changes font size to 20px*/
    font-size: 20px;
}
#previouspage{ /*Adds previous page button*/
    background: rgb(158,162,162);
    border: 1px solid rgb(158,162,162);
    border-radius: 3px;
    color: rgb(35,97,146);
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}
#previouspage:hover{ /*Changes background color and text color of previous page button when hovered over*/
    background: rgb(35,97,146);
    border: 1px solid rgb(158,162,162);
    color: rgb(158,162,162);
}
#nextpage{ /*Adds next page button*/
    background: rgb(158,162,162);
    border: 1px solid rgb(158,162,162);
    border-radius: 3px;
    color: rgb(35,97,146);
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}
#nextpage:hover{ /*Changes background color and text color of previous page button when hovered over*/
    background: rgb(35,97,146);
    border: 1px solid rgb(158,162,162);
    color: rgb(158,162,162);
}
