body{ /*Changes background color and text color of page to blue and grey*/
    background-color: rgb(35,97,146);
    color: rgb(158,162,162);
}
.navbar ul{ /*Changes color of navbar*/
    list-style-type: none;
    background-color: rgb(12,35,64);
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 98.5%;
}
.navbar a{ /*Changes text color of links in navbar*/
    color: rgb(158,162,162);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{ /*Changes background color and text color of navbar when hovered over*/
    background-color: rgb(158,162,162);
    color: rgb(12,35,64);
}
.navbar li{ /*Changes alignment to left*/
    float: left;
}
#firstq{ /*Changes font size to 20px*/
    font-size: 20px;
}
#secondq{ /*Changes font size to 20px*/
    font-size: 20px;
}
#thirdq{ /*Changes font size to 20px*/
    font-size: 20px;
}
#fourthq{ /*Changes font size to 20px*/
    font-size: 20px;
}
#previouspage{ /*Adds previous page button*/
    background: rgb(158,162,162);
    border: 1px solid rgb(158,162,162);
    border-radius: 3px;
    color: rgb(35,97,146);
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}
#previouspage:hover{ /*Changes background color and text color of previous page button when hovered over*/
    background: rgb(35,97,146);
    border: 1px solid rgb(158,162,162);
    color: rgb(158,162,162);
}
