body { /*This will change the background color to blue, text color to grey, and font to Gerogia or Arial if the browser doesn't support it*/
    color: rgb(158,162,162);
    background-color: rgb(12,35,64);
    font-family: Georgia, Arial;
}
.navbar ul{ /*This will create the navbar at the top of the website with links to the other 3 pages*/
    list-style-type: none;
    background-color: rgb(35,97,146);
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 98.5%;
}
.navbar a{ /*This changes the color and alignment of the text links in the bar*/
    color: rgb(158,162,162);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{ /*This changes the background color and color of text when you hover over the navbar*/
    background-color: rgb(158,162,162);
    color: rgb(35,97,146);
}
.navbar li{ /*Changes the alignment of all of the links in the navbar*/
    float: left;
}
#title{ /*Centers the title in the top of the website*/
    text-align: center;
}
#intro{ /*Changes the font size of the paragraphs to 20px*/
    font-size: 20px;
}
#northwest{ /*Changes the alignment of a photo to the left side of the website*/
    float: right;
}
#logos{ /*Puts text on right side of website and changes font size to 20px*/
    text-align: right;
    font-size: 20px;
}
#logophoto{ /*Puts photo on left side of website*/
    float: left;
}
#target-center{ /*Adds in an image with text on top of it*/
    font-weight: bold;
    font-size: 32px;
    color: white;
    background-image: url("https://images.axios.com/X12tejkjKK4rZp-fLqeugPrjAjA=/0x439:8640x5299/1920x1080/2024/03/18/1710786557729.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}
#history{ /*Changes the font size to 20px*/
    font-size: 20px;
}
#awards{ /*Changes the font size to 20px*/
    font-size: 18px;
}
#statpage{ /*Changes font color to grey*/
    color: rgb(158,162,162);
}
#nextpage{ /*Adds a next page button*/
    background: rgb(158,162,162);
    border: 1px solid rgb(158,162,162);
    border-radius: 3px;
    color: rgb(12,35,64);
    display: inline-block;
    text-decoration: none;
    padding: 14px;
}   
#nextpage:hover { /*Changes the color of the next page button when you hover over it*/
    background: rgb(12,35,64);
    border: 1px solid rgb(158,162,162);
    color: rgb(158,162,162);
}
